<div id="contact-main">
    <%= image_tag("menu-black.svg", alt: "Open", class: "open-icon", onclick: "showMenu()") %>
    <div class="container banner">
      <h1>Receive updates</h1>
              <%= form_for @signup do |f| %>
              <% if @signup.errors.any? %>
              <div class="error-box">
                  <% @signup.errors.full_messages.each do |msg| %>
                    <%= msg%><br/>
                  <% end %>
                </div>
              <% end %>
              <%= f.text_field :firstname, placeholder: "First name", class: "form-control"%><br/>
              <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
              <p><%= f.submit "Sign up", class: "btn"%></p>
          <% end %>
    </div>
</div>
